/target
/mail.nt
/output
/sample
*.nt
*.ttl
!mail-shapes.ttl
!mail-schema.ttl
*.nq
*.gz
.DS_Store

# QLever index files
*.index.*
*.vocabulary.*
*.text.*
*.prefixes
*.words
*.docs
qlever/mbox.*
Cargo.lock
convert_all.sh
qlever/2023
qlever/2024
qlever/2025
qlever/2026
qlever/Sent
qlever/INBOX
qlever/benchmark.sh
qlever/import.sh

